[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
statsmodels = "*"
scipy = "*"
scikit-learn = "*"

[dev-packages]
jupyterlab = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.7"
